 <div class="container">
    コメント件数:<%= post.post_comments.count %>
     <div class="row">
      <% post.post_comments.each do |post_comment| %>
        <div class="col-8">
         <div class="row">
            <div class="col-4">
              <%= image_tag post_comment.user.get_profile_image(100,100) %>
            </div>
            <div class="col-8">
              <div class="row">
                By<%= post_comment.user.name %>
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              </div>
              <div class="row">
                <%= post_comment.comment %>
              </div>
            </div>
         </div>
        </div>
      <% end %>
      <div class="col-4">
      <%= form_with model: [post, comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
      </div>
     </div>
</div>



