<div class="container">
  <div class="row">
    <h1>みんなのecohack</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <%= render 'public/posts/form', post: @post %>
      </div>
      <div class="row">
        <%= render 'public/posts/detail', user: @user %>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <% @posts.each do |post| %>
        <div class="row post-item", style="margin-bottom: 10px;">
          <div class="col-3">
            <%= image_tag post.get_post_image(100,100) %>
          </div>
          <div class="col-1 post-favorite" style="display: flex;">
            <%= render 'public/posts/favorite', post: post %>
          </div>
          <div class="col-3 post-title" style="margin-left: 20px; font-weight-bold">
            <%= link_to post_path(post) do %>
              <%= post.title %>
            <% end %>
          </div>
            <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>