
  <div class="justify-content-end d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <!--<%#= link_to "ecohack" root_path %>-->
    <nav>
      <% if user_signed_in? %>
        ようこそ<%= current_user.name %>さん
        <%= link_to "Home", root_path, class: "btn btn-outline-success" %>
        <%= link_to "Users", users_path, class: "btn btn-outline-success" %>
        <%= link_to "Hacks", posts_path, class: "btn btn-outline-success" %>
        <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "btn btn-outline-success" %>
      <% elsif admin_admin_signed_in? %>
        <%= link_to "Users", admin_users_path, class: "btn btn-outline-success" %>
        <%= link_to "Hacks", admin_posts_path, class: "btn btn-outline-success" %>
        <%= link_to "ログアウト", destroy_admin_admin_session_path, method: :delete, class: "btn btn-outline-success" %>
      <% else %>
        <% if current_page?(new_admin_admin_session_path) %>
          <%= link_to "ログイン", new_admin_admin_session_path, class: "btn btn-outline-success" %>
        <% else %>
          <%= link_to "Home", root_path, class: "btn btn-outline-success" %>
          <%= link_to "About", about_path, class: "btn btn-outline-success" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success" %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path,method: :post, class: "btn btn-outline-success" %>
        <% end %>
      <% end %>
    </nav>
    <%= render 'layouts/search' %>
  </div>